<template name="actionSheet">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
   
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Action Sheet</h1>
  {{/contentFor}}

 {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newProduct">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}


    {{#ionView}}
    {{#ionContent}}
      {{#ionList}}
        {{#each products}}
          {{> _productItem product=this path="products.show"}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>
